FORTIGATE_HOST=xxx.xxx.xxx.xxx
FORTIGATE_SSH_PORT=22
FORTIGATE_USERNAME=wol-service
FORTIGATE_PASSWORD=change-me
GUACAMOLE_ALLOWED_IP=xxx.xxx.xxx.xxx
SSH_CONNECT_TIMEOUT=5
SSH_COMMAND_TIMEOUT=10
WOL_RATE_LIMIT_SECONDS=30
LOG_LEVEL=INFO
MAPPING_FILE=/app/config/interfaces.yaml
KNOWN_HOSTS_FILE=/home/wolt/.ssh/known_hosts